<div fxLayout="row wrap " fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10">
        <mat-card class="card">
            <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%">
                <form [formGroup]="registerForm">
                <div class="fundoo" fxLayout.xs="row" fxLayoutAlign.xs="center center" fxLayout.sm="row"
                    fxLayoutAlign.sm="center center">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                    <div class="heading">Create your account</div>
                    <div fxLayout.xs="column" fxLayoutAlign.xs="space-between none" fxLayout.sm="column"
                        fxLayoutAlign.sm="space-between none">
                        <mat-form-field class="register-form-field" appearance="outline">
                            <mat-label>firstName</mat-label>
                            <input matInput type="text" formControlName="firstName" placeholder="Placeholder">
                            <mat-icon matSuffix></mat-icon>
                            <mat-hint></mat-hint>
                            <mat-error>Enter firstName</mat-error>
                        </mat-form-field>
                        <mat-form-field class="register-form-field" appearance="outline">
                            <mat-label>lastName</mat-label>
                            <input matInput type="text" formControlName="lastName" placeholder="Placeholder">
                            <mat-icon matSuffix></mat-icon>
                            <mat-hint></mat-hint>
                            <mat-error>Enter lastName</mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="name-field" appearance="outline">
                            <mat-label>userName</mat-label>
                            <input matInput type="text" formControlName="email" placeholder="Placeholder">
                            <mat-icon matSuffix></mat-icon>
                            <mat-hint></mat-hint>
                            <mat-error>Enter email</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout.xs="column" fxLayoutAlign.xs="space-between none" fxLayout.sm="column"
                        fxLayoutAlign.sm="space-between none">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>password</mat-label>
                            <input matInput type="text" formControlName="password" placeholder="Placeholder">
                            <mat-error>Enter password</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>confirmPassword</mat-label>
                            <input matInput type="text" formControlName="confirmPassword" placeholder="Placeholder">
                            <mat-error>confirmPassword</mat-error>
                        </mat-form-field>
                    </div>
                <div>
                    <span fxLayout="row" fxLayoutAlign="space-between center">
                        <a routerLink="/login" class="signin">sign In instead</a>
                        <button type="submit" (click)="onSubmit()" mat-flat-button color="primary">Next</button>
                    </span>
                </div>
            </form>
                <div fxFlex="30%" fxLayoutAlign="center center" fxShow.sm="false" fxShow.xs="false">
                    <img src="../../../assets/images/account.svg" class="image">
                </div>
            </div>
        </mat-card>
    </div>
</div>