<div fxLayout="row wrap" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10" fxFlex="25%" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.sm="100">
        <mat-card class="card" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center" box-shadow.xs="none">
            
                <div fxLayout="row" fxLayoutAlign="center center" class="fundoo">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="heading">Account Recovery</div>
                <form [formGroup]="forgotpasswordForm">
                <div>
                    <p>
                        <mat-form-field class="forgotpasswordForm"appearance="outline">
                          <mat-label>Phone no or Email</mat-label>
                          <input matInput formControlName="email" placeholder="Placeholder">
                          <mat-icon matSuffix></mat-icon>
                          <mat-hint></mat-hint>
                        </mat-form-field>
                      </p>
                      </div>
                    </form>
                <div>
                <span fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="row" fxLayoutAlign.xs="space-between center">
                <a routerLink="/registrationpage" class="signin">sign up instead</a>
                <button type="submit" (click)="onSubmit()" mat-flat-button color="primary">submit</button>
                                      
                </span>
            </div>
        </mat-card>
    </div>
