<div fxLayout="row" fxLayoutAlign="space-between center">
	<button mat-icon-button matTooltip="Remind me">
		<img class="icons" src="./../../../assets/images/add_alert_black_24dp.svg" alt="add_alert">
	</button>

	<button mat-icon-button matTooltip="Collaorator">
		<img class="icons" src="./../../../assets/images/person_add_alt_black_24dp.svg" alt="person_add_alt">
	</button>


	<div style="margin-bottom: -5px">
		<button mat-icon-button matTooltip="palette">
			<img class="icons" src="./../../../assets/images/palette_black_24dp.svg" alt="palette">
		</button>

	</div>
	<button mat-icon-button matTooltip="Add image">
		<img class="icons" src="./../../../assets/images/image_black_24dp.svg" alt="image">
	</button>

	<button mat-icon-button matTooltip="archive">
		<img class="icons" src="./../../../assets/images/archive_black_24dp.svg" alt="archive">
	</button>
	 </div>